{% extends 'base.html' %}
{% block title %} Post Page {% endblock%}
{% block nav %}
    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">{{user|capfirst}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{%  url 'login' %}">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    {% else %}
        <h1>Necesita <a href="/login">Iniciar sesion</a> para crear un post</h1>
    {% endif %}
</body>
</html>
{% endblock %}